<nav class="navbar navbar-expand-lg logo-fixed -top tt" style="background-color:#eaeaec">
    <div class="container">
        <div class="row ml-auto mr-auto" >
                <div class="col-lg-2">
                    <img style="height: 100px; width: 100%; display: block;" src="https://image.flaticon.com/icons/svg/182/182336.svg" alt="Card image">
                </div>
                <h3 class="display-4 col-lg-10 text-center mt-auto">[school name] school</h3>
        </div>
    </div> 
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">  
        <div class="navbar-collapse">
          <ul class="navbar-nav mr-auto" >
            <li class="nav-item">
                <li class="nav-item">
                    
                </li>
            </ul>
                <% if (user) {%>
                    <% if (user.role === 'student') {%>
                        <a href="/student/setting" class="btn btn-secondary">Setting</a>
                        <!-- <a href="#" class="btn btn-secondary">Student</a> -->
                    <%} if (user.role === 'store') {%>
                        <!-- <a href="#" class="btn btn-secondary">Store</!--> 
                    <%}%>
                        <a href="/auth/logout" class="btn btn-secondary ml-1">Logout</a>
                    <%} else {%>
                        <!-- <a href="/auth/login" class="btn btn-secondary mr-1">Login</!--> 
                        <span >LOGIN</span>
                    <%}%>
    </div>
</nav>