<div class="container mb-5">
    <h1 class="card card-body text-center mt-5 mb-3">Store name : ร้านขายข้าวมันไก่</h1>
    <div class="card card-body">
        <span>Select Date</span>
        <button>PDF Download</button>
        <button>Back to Homepage</button>
    </div>
</div>