<div class="container">
        <div class="row mt-5">
          <div class="col-lg-4">
            <div class="card card-body text-center mb-3">
              <h2 style="color: black">เจ้าของร้าน</h2>
              <h2><%= user.name %></h2>
              <h2 style="color: black">เลขที่ร้าน</h2>
              <h2><%= StoreDataFound.storeNO %></h2>
            </div>
            <div class="card card-body text-center mb-3">
              <h2 style="color: black">แบบรายงานรายได้</h2>
              <a class="btn btn-primary" href="/store/store_report/1" v>รายงาน</a>
            </div>
            <div class="card card-body text-center mb-3">
              <h2 style="color: black">Store Category</h2>
              <a class="btn btn-primary" href="/store/store_categoty">Category</a>
            </div>
          </div>     
          
    <div class="col-lg-8 mb-5">
      <div class="card card-body ml-3" id="FixScrollBar">
        <div class="row" style="margin-right:1%">
          <h1 class="text-center col-lg-8" style="color: black">ชำระเงิน</h1>
          <span class="text-center col-lg-4 card card-body" id="buystatus" style="font-size: 20px;color:blue;padding: 2% 1% 2% 1%">[สถานะการซื้อ]</span>
        </div>
          <!-- <form action=""> -->
              <div class="form-group mt-3">
                  <h3 style="color: black">ID Card หรือ รหัสนักเรียน</h3>
                  <table>
                    <tr>
                      <td style="width:83%">
                        <div class="form-group m-auto" > 
                          <input class="form-control form-control-lg" type="text" placeholder="Enter ID Card or Student ID" id="checkInputIDC">
                        </div>
                      </td>
                      <td>
                        <div style="margin-left: 10px">
                          <button type="submit" class="btn btn-info" id="checkIDCButton">ตรวจสอบ</button>
                        </div>
                      </td>
                    </tr>
                  </table>
                  

                  
                  <div style="font-size: 30px;" class="mb-3 mt-3">
                    <h3 style="color: black">ข้อมูลนักเรียน</h3>
                        <table style="margin-left: 10px">
                          <tr>
                            <td>รหัสนักเรียน</td>
                            <td><input style="padding-left: 10px" type="text" readonly="" class="form-control-plaintext" id="student_ID" value=""></td>
                          </tr>
                          <tr>
                            <td>ชื่อ</td>
                            <td><input style="padding-left: 10px" type="text" readonly="" class="form-control-plaintext" id="student_name" value=""></td>
                          </tr>
                          <tr>
                            <td>เพศ</td>
                            <td><input style="padding-left: 10px" type="text" readonly="" class="form-control-plaintext" id="student_sex" value=""></td>
                          </tr>
                          <tr>
                            <td>ยอดเงินที่ใช้ได้</td>
                            <td><input style="padding-left: 10px" type="text" readonly="" class="form-control-plaintext" id="student_Money" value=""></td>
                          </tr>
                        </table>
                  </div>
                  <h3 style="color: black">กรอกจำนวนเงิน</h3>
                  <div class="form-group">
                    <div class="input-group mb-3" >
                      <input type="number" style="font-size: 50px;" id="inputprice" class="form-control" placeholder="กรอกจำนวนเงิน" min="0" aria-label="Amount (to the nearest baht)" readonly>
                      <div class="input-group-prepend">
                        <span class="input-group-text">฿</span>
                      </div>
                    </div>
                  </div>
                  <div>
                    <input type="button" id="submitPriceButton" style="font-size: 30px" class="btn btn-primary" value="คิดเงิน">
                    <input type="button" id="resetButton" style="font-size: 30px" class="btn btn-secondary" value="ล้างข้อมูล">
                  </div>
              </div>
            </div>
          <!-- </form> -->
      </div>
    </div>

<!-- Modal Alert input student id or id card -->
<div class="modal fade" id="alertInputid" tabindex="-1" role="dialog" aria-labelledby="alertInputidLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="alertInputidLabel">แจ้งเตือน</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <h5 class="modal-title" id="alertInputCashLabel">กรุณาใส่ ID Card หรือ รหัสนักเรียน </h5>
      </div>
      <div class="modal-footer">
          <button type="button" id="closeModalinputid" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
      </div>
    </div>
  </div>
</div>
 <!-- Modal Alert input student id or id card -->


  <!-- Modal Alert input price -->
<div class="modal fade" id="alertInputCash" tabindex="-1" role="dialog" aria-labelledby="alertInputCashLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="alertInputCashLabel">แจ้งเตือน</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <h5 class="modal-title" id="alertInputCashLabel">กรุณาใส่จำนวนเงิน</h5>
      </div>
      <div class="modal-footer">
          <button type="button" id="closeModalinputcash" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  <!-- Modal Alert input price -->

<script>

  document.getElementById('FixScrollBar').scrollIntoView({
    behavior: 'smooth'
  });
  
  $(document).ready(function(){

    $("#checkInputIDC").select();

    $("#checkInputIDC").keyup(function(event) {
      if (event.keyCode === 13) {
        $("#checkIDCButton").click();
      }
      if (event.keyCode === 106) {
        $("#resetButton").click();
        $("#checkIDCButton").attr("disabled",false); 
      }
    });

    $("#inputprice").keyup(function(event) {
      if (event.keyCode === 13) {
        $("#submitPriceButton").click();
      }
      if (event.keyCode === 106) {
        $("#resetButton").click();
        $("#checkIDCButton").attr("disabled",false); 
      }
    });

    $("#resetButton").click(function() {
      Reset_btn();
    });

    $("#alertInputid").keyup(function(event) {
      if (event.keyCode === 13) {
        $("#closeModalinputid").click();
        $("#checkInputIDC").select();
      }
    })

    $("#alertInputCash").keyup(function(event) {
      if (event.keyCode === 13) {
        $("#closeModalinputcash").click();
        $("#inputprice").select();
      }
    })

    $('#checkIDCButton').click(function(){
      var Val_checkIDC = $('#checkInputIDC').val();
      if (Val_checkIDC === '') {
        // alert('Please input id card or student id.')
        $("#alertInputid").modal('show');
      } else {
        // console.log('ID card or student id : ' + Val_checkIDC);
        SubmitCheck(Val_checkIDC);
      }
    });

    $('#submitPriceButton').click(function(){
      var Val_price = $('#inputprice').val();
      if (Val_price === '') {
        $("#alertInputCash").modal('show');
      } else {
        // console.log('ID card or student id : ' + Val_checkIDC);
        SubmitPrice(Val_price);
      }
    });

  });

  function SubmitCheck(IDcardOrStuID){
    console.log('ID card or student id : ' + IDcardOrStuID);
    $("#checkIDCButton").attr("disabled",true); 
    $("#checkInputIDC").attr('readonly',true); 
    $.ajax({
      url:'/store/check_student_profile',
      type:'POST',
      dataType:'json',
      data:{ idcardorstuid : IDcardOrStuID },
      success:function(dataBack){
        console.log('Post data success.');
        console.log('Found student data : ' + JSON.stringify(dataBack));

        $('#student_ID').val(JSON.parse(JSON.stringify(dataBack.stuID)));
        $('#student_name').val(JSON.parse(JSON.stringify(dataBack.uname)));
        $('#student_sex').val(JSON.parse(JSON.stringify(dataBack.sex)));
        $('#student_Money').val(JSON.parse(JSON.stringify(dataBack.money)));
        $("#inputprice").select();
        $("#inputprice").attr('readonly',false);
      },error:function(msgError){
        console.log('Post data failure.');
        console.log('Msg error : ' + JSON.stringify(msgError));
        $('#buystatus').html('<span style="color:black;background-color: red;border-radius: 5px;">'+msgError.responseText+'</span>')
        setTimeout(function() {
          $('#buystatus').html('[สถานะการซื้อ]');
        },delay)
        Reset_btn()
        // $("#resetButton").click();
        // $("#checkInputIDC").select();
        // $("#checkIDCButton").attr("disabled",false);  
      }
    })
  };

  var delay = 2500;
  function SubmitPrice(InputPrice) {
    console.log('Price : ' + InputPrice);
    // $("#checkIDCButton").attr("disabled",true);
    $.ajax({
      url: '/store/buy_item',
      type: 'POST',
      dataType: 'json',
      data: { getPrice : InputPrice },
      success:function(databack){
        console.log('Post data success.');
        console.log('Message back : ' + databack);
        $('#buystatus').html('<span style="color:black;background-color: lime;border-radius: 5px;">'+databack+'</span>')
        setTimeout(function() {
          $('#buystatus').html('[สถานะการซื้อ]');
        },delay)
      },error:function(msgError){
        console.log('Post data failure.');
        console.log('Message error back : ' + JSON.stringify(msgError));
        $('#buystatus').html('<span style="color:white;background-color: red;border-radius: 5px;">'+JSON.stringify(msgError.responseText)+'</span>')
        setTimeout(function() {
          $('#buystatus').html('[สถานะการซื้อ]');
        },delay)
      }
    })
    Reset_btn()
    // $("#resetButton").click();
    // $("#checkInputIDC").select();
    // $("#checkIDCButton").attr("disabled",false);  
    

  };

  function Reset_btn() {
      // Input Student ID or ID Card
      $("#checkInputIDC").val('');
      $("#checkInputIDC").attr('readonly',false);
      // btn Check Student ID or ID Card
      $("#checkIDCButton").attr("disabled",false);
      // user data
      $('#student_ID').val('');
      $('#student_name').val('');
      $('#student_sex').val('');
      $('#student_Money').val('');
      // Input price
      $("#inputprice").val('');
      $("#inputprice").attr('readonly',true);
      // init select input box > Input Student ID or ID Card
      $("#checkInputIDC").select();
  }
  
</script>