<!-- food page -->

<h2>FOOD</h2>
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Store NO.</th>
                <th scope="col">Food</th>
                <th scope="col">calories</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td>12/07/62</td>
                    <td>12:30</td>
                    <td>1</td>
                    <td>ข้าวมันไก่</td>
                    <td>350</td>
                  </tr>
                  <tr>
                      <td>12/07/62</td>
                      <td>12:45</td>
                      <td>5</td>
                      <td>coca-cola</td>
                      <td>50</td>
                    </tr>
            </tbody>
          </table>